body{

    background-color: rgb(255, 225, 211);
}

h1{
    color: darkblue;
    font-weight: bold;
}

p{
    font-weight: bold;
    font-style: italic;
    text-align: center;
}

#Primeiro{
    border: 3px solid blueviolet;   
                                                                                                                                                                                           
}